/* ------------------CSS del menu despegable--------------- */
.menu_item{
    list-style: none;
    position: relative;
   z-index: 100;
    margin: 0 5px;
    /* --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    --clip:   polygon(0 0, 100% 0, 100% 0, 0 0);

    
}
.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 

}
/* sub meno contenedor */
.menu{
    clip-path: var(--clip);
    list-style: none;
    transition: clip-path .3s;
  position: absolute;
   margin: auto;
    width: max-content;
    
    background-color: var(--black);
    border: 2px solid wheat;
    
}

/* enlaces del menu contenedor */
.dropdown-item{
    color: var(--grey);
}

.dropdown-item:hover{
    color: var(--white);
    background-color: var(--black);
}




/* ---------------Termina el CSS del menú despegable */

.contacto{
    border: 5px solid  var(--blue);
    border-radius: 60px;
    margin: 0 auto;
    padding: 0 auto;
}
.tituloPreguntas{
    color: var(--white);
    font-family: var(--body);
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.pregunta_label{
display: inline;
margin-bottom: 45px;


font-size: 25px;


}

.row.form-group{
    justify-content: center;
}
.nombreContacto{
    color: var(--white);
    font-family: var(--body);
    font-size: 25px;
    width: 500px;
    text-align: center;
}
.contenedorContacto{
    /* width: 620px; */
    height: 10px;

    border: 3px solid var(--green);
    background-color: rgba(70, 255, 1, 0.25);

    background-color: rgba(18,18,255, 0.25);
    border: 3px solid var(--blue);

    border-radius: 60px;
    /* margin-bottom: 20px; */
    color: var(--white);
    font-family: var(--body);
    font-size: 25px;
}






.segundotitulo{
    color: var(--white);
    font-family: var(--body);
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.btnEnviar{

    border: 3px solid var(--blue);
    background-color: var(--pink);
    color: var(--white);
    font-family: var(--body);
    font-size: 30px;
    border-radius: 170px;
    width: 217px;
    height: 78px;
    margin: 0 auto;
    display: block;
}
.btnEnviar:hover{
    background-color:  rgba(18, 18, 255, 0.25);

    font-family: var(--body); background-color: lightgray;
    border: 3px solid var(--blue);
    color: var(--black);
     width: 217px;
    height: 78px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    border-radius: 170px;
}
.btnEnviar:hover{
    background-color: var(--blue);
    border: 3px solid var(--blue);
    color: var(--white);
    box-shadow: 1px 0px 30px rgba(163, 163,  163, 1);
    background: rgba(18, 18, 255, 0.5);
    color: white;

}

.card{

    background-color: transparent;
    color: white;
    font-family: var(--body);
    font-size: 15px;
    border:#FF0D00 solid 2px ;
    border-radius: 60px;
}

.card-title{
    background-color:#FF0D00 ;

}

@media (max-width: 990px) {
    .navbar-dark{
        background-color: var(--blue) !important;
    }
    .nav-link{
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }
    /* Contenedor del sub menú */
   .menu{
         background-color: var(--black) !important; 
         position: absolute; 
         display: block; 
         
        width: 100%; 
         transform: translate(0);
    } 
    /* Links del submneú */
    .dropdown-item{
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }
    .dropdown-item:hover{
        background-color: var(--blue) !important;
        
    }
}
