.titulo {
  color: var(--white);
  font-family: var(--body);
  font-size: 25px;
}

.formulario_label {
  color: var(--white);
  font-family: var(--body);
  font-size: 20px;
}

.formulario_boton {
  background-color: var(--pink);
  border-radius: 45px;
  border: 3px solid var(--blue);
  color: var(--white);
  font-family: var(--body);
  font-size: 25px;
}

.formulario_input {
  background: rgba(70, 255, 1, 0.25);
  border: 3px solid var(--green);
  border-radius: 45px;
  width: 342px;
  height: 35px;
  color: var(--white);
  font-family: var(--body);
  font-size: 15px;
}


.formulario-registrate{
    border-radius: 45px;
    border: 5px solid var(--blue);
    width: 700px;
    height: 550px;
    margin-bottom: 200px;  
}
