@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

:root {
    /* Paleta de colores */
    --black: #1C1C1C;
    --red: #FF0D00;
    --blue: #1212FF;
    --green: #46FF01;
    --pink: #FF00BC;
    --yellow: #E4F802;

    /* Fuentes */
    --titles: 'Press Start 2P', cursive;
    --body: 'Audiowide', cursive;
}

body {
    /* background-color: var(--black); */
    background-color: white;
    margin: 0px;
    font-family: var(--body);
}

aside {
    float: right;
    width: 20%;
    border: 2px solid green;
}

/* --- header */
.header {
    background-color: var(--blue);
    height: 50px;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 15px;
}

.social-networks {
    display: flex;
    margin-left: 20px;
}

.social-networks i {
    margin-right: 10px;
    color: white;
    display: flex;
}

.whats {
    margin-right: 20px;
}

.whats a {
    text-decoration: none;
    color: white;
    display: flex;
}

.whats i {
    margin-right: 10px;
}

/* --- navbar */
.navbar {
    justify-content: space-between;
    color: white;
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    align-items: stretch;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: var(--body);
}

.user {
    position: absolute;
    right: 15px;
    align-content: center;
}

.user p {
    margin: 0px;
}

/* ---- footer */
.carrusel img {
    width: 100%;
    max-height: 70vh;
}

.footer-gorgonitas {
    margin: 0px;
    background-color: var(--blue);
    color: white;
    font-family: var(--body);
}

.footer, .cards {
    border: 1px solid var(--black);
}

.footer-menu li {
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    color: white;
}