@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

:root {
    /* Paleta de colores */
    --black: #1C1C1C;
    --red: #FF0D00;
    --blue: #1212FF;
    --green: #46FF01;
    --pink: #FF00BC;
    --yellow: #E4F802;
    --white: #FFFFFF;
    --grey:#a9a9a9;

    /* Fuentes */
    --Titles: 'Press Start 2P', cursive;
    --body: 'Audiowide';
}

/* Se colorea el fondo el cuerpo de la pagina */
body {
    background-color: var(--black);
}

.row.banner{        /* El banner de la pagina se colorea de azul y se da una altura de 98.1 pixeles con text blanco*/
background-color: var(--blue);
color: white;
height: 98.1px;
max-height: 98.1px;
}

.texto{ /* Tipo de texto 1 con tamaño de 15 pixeles*/
    font-family: var(--body);
    font-size: 15px;
    color: var(--white);
}
/*Tipo de texto 2 con tamaño de 20 pixeles*/
.texto2{
    font-family: var(--body);
    font-size: 20px;
    color: var(--white);
}
/*Tipo de texto 3 con tamaño de 20 pixeles y diferente tipo de letra*/
.texto3{
    font-family: var(--Titles);
    font-size: 20px;
    color: var(--white);
}
/*Tipo de texto 4 con tamaño de 10 pixeles*/
.texto4{
    font-family: var(--body);
    font-size: 10px;
    color: var(--white);
}
/* ------------------CSS del menu despegable--------------- */
.menu_item{
    list-style: none;
    position: relative;
   z-index: 100;
    margin: 0 5px;
    /* --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    --clip:   polygon(0 0, 100% 0, 100% 0, 0 0);

    
}
.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 

}
/* sub meno contenedor */
.menu{
    clip-path: var(--clip);
    list-style: none;
    transition: clip-path .3s;
  position: absolute;
   margin: auto;
    width: max-content;
    
    background-color: var(--black);
    border: 2px solid wheat;
    
}

/* enlaces del menu contenedor */
.dropdown-item{
    color: var(--grey);
}

.dropdown-item:hover{
    color: var(--white);
    background-color: var(--black);
}




/* ---------------Termina el CSS del menú despegable */
.main{  /*Seccion personalizada de pagina*/
    width: max-content;
    height: 1500px;
}

footer{ /*Footer de color azul*/
    background-color: var(--blue);
}

footer .row .footer-1{  /*Secion de footer 1 con altura de 100 pixeles*/
    height: 100px;
}

footer .row .footer-1 a{    /*Se quitan las animaciones de enlace del listado de enlaces*/
    text-decoration: none;
}

li{             /* Se quitan las viñetas de las listas de la pagina*/
    list-style-type: none;
}

@media (max-width: 990px) {     /*Cuando el ancho de la pagina sea maximo de 900pixeles, la barra de navegacion colapsada se colorea azul y se colocan separadores blancos a los menus*/
    .navbar-dark{
        background-color: var(--blue) !important;
    }
    .nav-link{
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }
}
/* ****************************Contacto********************************************* */ /* 768 tablet  */
.contacto{
    border: 5px solid  lightgrey;
    border-radius: 60px;
    margin: 0 auto;
    padding: 0 auto;
}
.tituloContacto{
    color: var(--white);
    font-family: var(--body);
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.row.form-group{
    justify-content: center;
}
.nombreContacto{
    color: var(--white);
    font-family: var(--body);
    font-size: 25px;
    width: 140px;
    text-align: justify;
    display: inline-block;
}
.contenedorContacto{
    /* width: 620px; */
    height: 40px;
    border: 3px solid var(--blue);
    background-color: rgba(18, 18, 255, 0.1);
    border-radius: 60px;
    /* margin-bottom: 20px; */
    color: var(--white);
    font-family: var(--body);
    font-size: 25px;
    padding: 20px;
    margin-right: 2px;
}
.contenedorContacto:hover{
    box-shadow: 1px 0px 30px rgba(163, 163,  163, 1);
}

.contenedorContacto.form-control{
    border: 3px solid var(--blue);
    background-color: rgba(18, 18, 255, 0.1);
    border-radius: 60px;
    margin-bottom: 20px;
    color: var(--white);
    font-size: 25px;
}



.btnEnviar{
    border: 3px solid var(--white);
    background-color: lightgray;
    color: var(--black);
    font-family: var(--body);
    font-size: 30px;
    border-radius: 170px;
    width: 217px;
    height: 78px;
    margin: 0 auto;
    display: block;
}
.btnEnviar:hover{
    background-color:  rgba(18, 18, 255, 0.25);
    color:var(--white)
  /*   border: var(var(--blue)) */
}


/*¨--------------------------------Formularios para validacion--------------------------------------*/


.formulario_input-error{
  font-size: 15px;
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
  color: white;
  font-family: var(--body);
  
  
  }
  
.formulario_input-error-activo{
   display: block;

}


.formulario_validacion-estado{
    position: relative;
    left: 600px;
    bottom: 50px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
  }


.formulario_grupo-error{
    font-size: 15px;
    display: none;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    font-family: var(--body);
  }

/* ******************************************************************* */
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: rgba(18, 18, 255, 0.1);
	padding: 0 15px;
	border-radius: 3px;
	display: none;
  color: var(--white);
  text-align: center;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario__mensaje-exito {
	font-size: 14px;
  font-family: var(--body);
	color: var(--white);
	display: none;
  text-align: center;
}

.formulario__mensaje-exito-activo {
	display: block;
}


/* ********************************************************** */


      
.formulario_grupo-correcto .contenedorContacto { /*validacoion para el capo iniciar sesion*/

  border: 3px solid  #46FF01;
  

}
.formulario_grupo-correcto .nombreContacto { /*validacoion para el capo iniciar sesion*/

  color: #46FF01;
  

}

.formulario_grupo-incorrecto .nombreContacto{

  color: #FF0D00;
}

.formulario_grupo-incorrecto .contenedorContacto{

  border: 3px solid  #FF0D00;
}

.formulario_grupo-incorrecto .formulario_validacion-estado{/*validacoion para el capo iniciar sesion*/

  color: #FF0D00;
  opacity: 1;
}



@media (max-width: 990px) {  /*Cuando el ancho de la pagina sea maximo de 780 pixeles los formularios crecen en altura*/

  .formulario-iniciar{
    
    height: 600px;
      
  }

  
  
  .formulario-registrate{

    height: 700px; 
    
  }



  .formulario_label {

    text-align: center; /* las etique al cambiar la pantalla se centran*/
  }

  .formulario_label-resgistrate {
    text-align: center; /* las etique al cambiar la pantalla se centran*/
    padding-right: 60px;
  }

  .formulario_input {

    text-align: center; /* El texto se empieza a escribi desde el centro  al cambiar la pantalla */


  }

  .formulario_mensaje{
  font-size: 12px;

  }

  .formulario_validacion-circulo{
    
    right: 70px;
    
    
  }

  .formulario_input-error{
    font-size: 10px;
  }
   /* Contenedor del sub menú */
   .menu{
    background-color: var(--black) !important; 
    position: absolute; 
    display: block; 
    
   width: 100%; 
    transform: translate(0);
} 
/* Links del submneú */
.dropdown-item{
   border-top: 1px solid var(--white);
   border-bottom: 1px solid var(--white);
}
.dropdown-item:hover{
   background-color: var(--blue) !important;
   
}

}

@media screen and (max-width: 834px){
  .tituloContacto{
    font-size: 30px;
  }

.nombreContacto{
    font-size: 18px;
    text-align: center;
}
.contenedorContacto.form-control{
    font-size: 18px;
}
 
}

@media screen and (max-width: 460px){
  .nombreContacto{
    font-size: 18px;
    text-align: center;
}
.contenedorContacto.form-control{
    font-size: 18px;
}
  
}


